<div class="container row">
  <h1 class="card-body">Menu</h1>
  <div class="card card-primary card-outline">
    <a class="d-block w-100 collapsed" >
      <div class="card-header">
        <h4 class="card-title w-100">
          <a routerLink="/shop-list">#1 Список покупок</a>
        </h4>
      </div>
    </a>
  </div>

  <div class="card card-primary card-outline mt-4">
    <a class="d-block w-100 collapsed" >
      <div class="card-header">
        <h4 class="card-title w-100">
          <a routerLink="/car">#2 Авто</a>
        </h4>
      </div>
    </a>
  </div>
</div>
